<!DOCTYPE html> 
<html lang="en"> 
<head>
<meta charset="utf-8"/>
<title>COMP6218 Coursework: {{question.title}}</title> 
<link rel="stylesheet" type="text/css" href="/style.css">
</head> 
<body> 
  <header>
    <div id="hlogo"> 
      <img src="/logo.png" alt="logo" height="45" width="140" >
    </div> 
    <nav>  
      <ul> 
      <!-- Navigation --> 
        <li><a href="/">HOME PAGE</a></li>
        <li><a href="/questions">QUESTIONS</a></li>
		<li><a href="/questions#askform">ASK A QUESTION</a></li>
      </ul> 
    </nav>
  </header>
  <h2><a href="..">&lt; Back to answer</a></h2>
  <div class="content"> 
      <article class="question">
          <div class="question-header"> 
            <h1><a href="." class="question-title">{{ comment.title }}</a></h1>
          </div>
          <div class="details">
              <div class="question-content">
                <p>{{ comment.content }}</p>
              </div>
                <div class="signiture">
                <p>asked<!-- <time datetime="2014-06-29T23:31:45+01:00">June 29th 2014</time>--> by Anonymous</p> 
                </div>
              </div> 
      </article>
  </div>
  <h2>Edit this comment!</h2>
<div id="edit">
  <form method="POST" action="?_method=PUT">
      <div class="form-item">
        <label for="title">Title:</label><br>
        <input type="text" name="title" id="title" class="titlefield" maxlength="100" value="{{ comment.title }}">
      </div>
      <div class="form-item">
        <h2>Comment text:</h2>
        <textarea name="content" id="content" class="answer-input" cols="82" rows="5" placeholder="Enter text here..." required>{{ comment.content }}</textarea><br>
      </div>
      <input name="ask" type="submit" value="Edit" class="btn-submit">
      <input name="reset" type="reset" value="Cancel" class="btn-cancel">
  </form><br>
  	<form method="POST" action="?_method=DELETE">
		<input name="ask" type="submit" value="Delete comment!" class="btn-submit">
	</form>
</div>

  <footer> 
  <!-- Footer --> 
     <br>
     <div id="copyright">
        <p>Copyright site design / logo 2014 </p>
     </div>
  </footer>

</body> 
</html>
