<!DOCTYPE html>
<html>
	<head>
  		<meta charset="utf-8">
		<title>{{comment.title}}</title>
		<link rel='stylesheet' href='/stylesheets/style.css'>
	</head>	
	<body>
	<article>
	<h2>{{comment.title}}</h2>
	<p>{{comment.content}}</p>
	</article>
	<a href="/questions/{{comment.question_id}}">Back to question</a>
	<h3>Edit this comment:</h3>
	<form method="POST" action="?_method=PUT">
		<input type="text" name="title" id="title">
		<input type="text" name="content" id="content">
		<button type="submit">Edit</button>
	</form>
	<form method="POST" action="?_method=DELETE">
		<button type="submit">Delete comment!</button>
	</form>
<!--	<h2>Answers</h2>
	{% for comment in question.comments %}
	<article>
	<h3>{{comment.title}}</h3>
	<p>{{comment.content}}</p>
	</article>
	{% endfor %}
	<h2>Add your own comment!</h2>
	        <form method="POST" action="{{question.id}}/comments">
                <input type="text" name="title" id="title">
                <input type="text" name="content" id="content">
                <button type="submit">Answer!</button>
        </form> --!>
	</body>
	<footer>
		<p>COMP6218 RESTful Application assginment</p>
	</footer>
</html>	
  
