<!DOCTYPE html> 
<html lang="en"> 
<head>
<meta charset="utf-8"/>
<title>COMP6218 Coursework: Home</title> 
<link rel="stylesheet" type="text/css" href="/style.css">
</head> 
<body> 
  <header>
    <div id="hlogo"> 
      <img src="/logo.png" alt="logo" height="45" width="140" >
    </div> 
    <nav>  
      <ul> 
      <!-- Navigation --> 
        <li><a href="/">HOME PAGE</a></li>
        <li><a href="/questions">QUESTIONS</a></li>
		<li><a href="/questions#askform">ASK A QUESTION</a></li>
      </ul> 
    </nav>
  </header>
  <h1>Welcome!</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla est arcu, lobortis nec aliquet nec, lobortis sed metus. Sed fringilla nisi at dui facilisis, eget suscipit erat interdum. Etiam iaculis odio vel augue pellentesque pretium. Phasellus id magna ligula. Sed fringilla convallis ipsum, ut placerat odio ultrices sit amet. Donec eget dolor dui. Cras elit metus, tincidunt et porta ut, pulvinar id erat. Vestibulum dapibus aliquam ante. Nunc nec tincidunt massa. Donec euismod tempus eros, at lobortis mauris fermentum vel. Suspendisse potenti.</p>
  <p><a href="/questions">Let's get started!</a></p>
  <footer> 
  <!-- Footer --> 
     <br>
     <div id="copyright">
        <p>Copyright site design / logo 2014 </p>
     </div>
  </footer>

</body> 
</html>