<!DOCTYPE html>
<html>
	<head>
  		<meta charset="utf-8">
		<title>RESTfull Application</title>
		<link rel='stylesheet' href='..public/stylesheets/style.css'>
	</head>	
	<body>
		<h1>{{title}}</h1>	
		<p>{{content}}</p>
		<form method="post">
		    <input type="text" name="title" id="title">
		    <input type="text" name="content" id="content">
	    	<input type="submit" value="Submit">
		</form>
		{% for question in question_list %}
		  {% if loop.first %}<ol>{% endif %}
		  <li>{{ question.content }}</li>
		  {% if loop.last %}</ol>{% endif %}
		{% endfor %}
	</body>
	<footer>
		<p>&copy; COMP6218 RESTfull Application assginment</p>
	</footer>
</html>	
  