<!DOCTYPE html> 
<html lang="en"> 
<head>
<meta charset="utf-8"/>
<title>COMP6218 Coursework: {{question.title}}</title> 
<link rel="stylesheet" type="text/css" href="/style.css">
</head> 
<body> 
  <header>
    <div id="hlogo"> 
      <img src="/logo.png" alt="logo" height="45" width="140" >
    </div> 
    <nav>  
      <ul> 
      <!-- Navigation --> 
        <li><a href="/">HOME PAGE</a></li>
        <li><a href="/questions">QUESTIONS</a></li>
		<li><a href="/questions#askform">ASK A QUESTION</a></li>
      </ul> 
    </nav>
  </header>
  <div class="contents"> 
      <article class="question">
          <div class="question-header"> 
            <h1><a href="/questions/{{ question.id }}" class="question-title">{{ question.title }}</a></h1>
          </div>
          <div class="details">
              <div class="question-content">
                <p>{{ question.content }}</p>
              </div>              
              <div class="post-info">
                <div class="post-menu">
                  <a href="#answer" class="answer-link">answer</a>
                  <span class="lsep">|</span>
                  <a href="#edit" class="suggest-edited-post">edit</a>
                  <span class="lsep">|</span>
                  <a href="#comments" class="comments-link">comments</a>
                </div>
                <div class="signiture">
                <p>asked<!-- <time datetime="2014-06-29T23:31:45+01:00">June 29th 2014</time>!--> by Anonymous</p> 
                </div>
              </div> 
        </div>
      </article>
  </div>
  <h2>Edit this question!</h2>
<div id="edit">
  <form method="POST" action="?_method=PUT">
      <div class="form-item">
        <label for="title">Title:</label><br>
        <input type="text" name="title" id="title" class="titlefield" maxlength="100" value="{{ question.title }}">
      </div>
      <div class="form-item">
        <h2>Question text:</h2>
        <textarea name="content" id="content" class="answer-input" cols="82" rows="5" placeholder="Enter text here..." required>{{ question.content }}</textarea><br>
      </div>
      <input name="ask" type="submit" value="Edit" class="btn-submit">
      <input name="reset" type="reset" value="Cancel" class="btn-cancel">
  </form><br>
  	<form method="POST" action="?_method=DELETE">
		<input name="ask" type="submit" value="Delete question!" class="btn-submit">
	</form>
</div>
	{% for answer in question.answers %}
    {% if loop.first %}<h2>Answers</h2>{% endif %}
      <article class="answer"> 
        <!--Answer summary-->
        <div class="answer-header"> 
          <h3><a href="{{question.id}}/answers/{{answer.id}}">{{answer.title}}</a></h3>
        </div>
        <div class="answer-details">
            <div class="answer-content">
              <p>{{answer.content}}</p>
            </div> 
            <div class="post-info">
                <div class="post-menu">
                  <a href="{{question.id}}/answers/{{answer.id}}#comments" class="answers-link">comments</a>
                  <span class="lsep">|</span>
                  <a href="{{question.id}}/answers/{{answer.id}}#edit" class="suggest-edited-post">edit</a>
                </div>   
                 <div class="signiture">
                   <small>Anonymous</small>
                 </div>
            </div>
        </div>
      </article>
	{% endfor %}
<h2>Answer this question!</h2>
<div id="answer">
  <form method="POST" action="{{question.id}}/answers">
      <div class="form-item">
        <label for="title">Title:</label><br>
        <input type="text" name="title" class="titlefield" maxlength="100" >
      </div>
      <div class="form-item">
        <h2>Answer text:</h2>
        <textarea name="content" cols="82" rows="5" class="answer-input" placeholder="Enter text here..." required></textarea><br>
      </div>
      <input name="ask" type="submit" value="Post answer" class="btn-submit">
      <input name="ask" type="reset" value="Cancel" class="btn-cancel">
  </form>
</div>
    <div id="comments">
	{% for comment in question.comments %}
    {% if loop.first %}<h2>Comments</h2>{% endif %}
      <article class="comment"> 
        <!--Comment summary-->
        <div class="comment-header"> 
          <h3><a href="{{question.id}}/comments/{{comment.id}}">{{comment.title}}</a></h3>
        </div>
        <div class="comment-details">
            <div class="comment-content">
              <p>{{comment.content}}</p>
            </div> 
            <div class="post-info">
                 <div class="signiture">
                   <small>Anonymous</small>
                 </div>
            </div>
        </div>
      </article>
	{% endfor %}
    </div>
<h2>Comment on this question!</h2>
<div id="comment">
  <form method="POST" action="{{question.id}}/comments">
      <div class="form-item">
        <label for="title">Title:</label><br>
        <input type="text" name="title" class="titlefield" maxlength="100" >
      </div>
      <div class="form-item">
        <h2>Comment text:</h2>
        <textarea name="content" cols="82" rows="5" class="answer-input" placeholder="Enter text here..." required></textarea><br>
      </div>
      <input name="ask" type="submit" value="Post answer" class="btn-submit">
      <input name="ask" type="reset" value="Cancel" class="btn-cancel">
  </form>
</div>

  <footer> 
  <!-- Footer --> 
     <br>
     <div id="copyright">
        <p>Copyright site design / logo 2014 </p>
     </div>
  </footer>

</body> 
</html>