<!DOCTYPE html> 
<html lang="en"> 
<head>
<meta charset="utf-8"/>
<title>COMP6218 Coursework</title> 
<link rel="stylesheet" type="text/css" href="/style.css">
</head> 
<body> 
  <header>
    <div id="hlogo"> 
      <img src="/logo.png" alt="logo" height="45" width="140" >
    </div> 
    <nav>  
      <ul> 
      <!-- Navigation --> 
        <li><a href="/">HOME PAGE</a></li>
        <li><a href="/questions">QUESTIONS</a></li>
		<li><a href="#askform">ASK A QUESTION</a></li>
      </ul> 
    </nav>
  </header>
  <div id="contents"> 
	{% for question in all_questions %}
      <article class="question">
          <div class="question-header"> 
            <h2><a href="/questions/{{ question.id }}" class="question-title">{{ question.title }}</a></h2>
          </div>
          <div class="details">
              <div class="question-content">
                <p>{{ question.content }}</p>
              </div>              
              <div class="post-info">
                <div class="post-menu">
                  <a href="/questions/{{ question.id }}#answer" class="answer-link">answer</a>
                  <span class="lsep">|</span>
                  <a href="/questions/{{ question.id }}#edit" class="suggest-edited-post">edit</a>
                  <span class="lsep">|</span>
                  <a href="/questions/{{ question.id }}#comments" class="comments-link">comments</a>
                </div>
                <div class="signiture">
                <p>asked<!-- <time datetime="2014-06-29T23:31:45+01:00">June 29th 2014</time>!--> by Anonymous</p> 
                </div>
              </div> 
        </div>
      </article>
	{% endfor %}
  </div>

<h1>Start a discussion</h1>
<div id="askform">
  <form action="/questions" method="post">
      <div class="form-item">
        <label for="title">Title:</label><br>
        <input type="text" name="title" id="title" class="titlefield" maxlength="100" >
      </div>
      <div class="form-item">
        <h2>Question text:</h2>
        <textarea name="content" id="content" class="answer-input" cols="82" rows="20" placeholder="Enter text here..." required></textarea><br>
      </div>
      <input name="ask" type="submit" value="Ask question" class="btn-submit">
      <input name="ask" type="reset" value="Cancel" class="btn-cancel">
  </form>
</div>

  <footer> 
  <!-- Footer --> 
     <br>
     <div id="copyright">
        <p>Copyright site design / logo 2014 </p>
     </div>
  </footer>

</body> 
</html> 